{% extends "blog/base.html" %}
{% load static %}
    
    {% block content %}
        
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <section class="page-content">

                    <h2 class="page-content__title h1">About Keep-It-Simple.</h2>
                    
                    <p class="lead">{%lorem 60 w%}</p>
                    
                    <p>{%lorem 70 w%}</p>

                    <p>{%lorem 70 w%}</p>
                    <div class="row block-large-1-2 block-tab-full">

                        <div class="column">
                            <h5>Our Process.</h5>
                            {%lorem 40 w random%}
                        </div>

                        <div class="column">
                            <h5>Our Approach.</h5>
                            {%lorem 40 w random%}
                        </div>

                        <div class="column">
                            <h5>Our Goal.</h5>
                            {%lorem 40 w random%}
                        </div>

                        <div class="column">
                            <h5>Our Mission.</h5>
                            {%lorem 40 w random%}
                        </div>

                    </div>

                </section> <!-- end page -->

           </div> <!-- end main -->

           {% include "blog/sidebar.html" %}

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->

   {% endblock content %}