{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
    
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">
                
                {% for p in page %}
                    
                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h2">
                            <a href="{{p.get_absolute_url }}" title="">{{p.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{p.post_date}}</li>
                                <li><a href="#0" title="" rel="category tag">{{p.category}}</a></li>
                                <li>{{p.author}}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        <p>
                        {{p.post_body|striptags|safe|truncatewords:30}}
                        </p>
                    </div> 

                </article> <!-- end entry -->
                {% endfor %}
                <!-- page nav -->
                <div class="post-list-nav">
                    
                    {% if page.has_previous %}
                    <a rel="prev" href="?page={{page.previous_page_number}}">Prev</a>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span> Page {{page.number}} of {{page.paginator.num_pages}}

                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;                    
                    {% if page.has_next %}
                    <a rel="next" href="?page={{page.next_page_number}}">Next</a>
                    {% endif %}
                        
                    
                </div>

           </div> <!-- end main -->


           {% include "blog/sidebar.html" %}
           
           <!-- end sidebar -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->
    
   
{% endblock content %}


    