{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
    
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">
                
                {% for post in posts %}
                    
                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{% url 'blog_single' post.post_title %}" title="">{{post.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{post.post_date}}</li>
                                <li><a href="#0" title="" rel="category tag">{{post.category}}</a></li>
                                <li>{{post.author}}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        <p>
                        {{post.post_body|truncatewords:50}}
                        </p>
                    </div> 

                </article> <!-- end entry -->
                {% endfor %}
                <!-- page nav -->
                <div class="post-list-nav">
                    <a rel="prev" href="#0">Prev</a>
                    <a rel="next" href="#0">Next</a>
                </div>

           </div> <!-- end main -->


           {% include "blog/sidebar.html" %}
           
           <!-- end sidebar -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->
    
   
{% endblock content %}


    