{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
    

    

    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">
                
                {% for post in posts reversed%}
                    
                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{% url 'blog_single' post.id %}" title="">{{post.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{post.post_date}}</li>
                                <li><a href="#" title="" rel="category tag">{{post.category}}</a></li>
                                <li>{{post.author}}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        <p>
                        {{post.post_body|truncatewords:60}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'blog_single' post.id %}">Read More</a>
                        </p>
                        
                    </div> 

                </article> <!-- end entry -->
                {% endfor %}
                
           </div> <!-- end main -->


           {% include "blog/sidebar.html" %} <!-- end sidebar -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->
   {% endblock content %}