{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
            
    <div class="s-content">
             
                    
        <div class="row">
                
            <div id="main" class="s-content__main large-8 column">
                    <h1 style="margin-left: 0rem; margin-top: 0;" class="entry__title h1">Latest Posts</h1><br>
                {% for post in posts reversed%}
                    
                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{% url 'blog_single' post.post_title %}" title="">{{post.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{post.post_date}}</li>
                                <li><a href="{% url 'postlist' post.category %}" title="" rel="category tag">{{post.category}}</a></li>
                                <li>{{post.author}}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        
                          <p>
                               
                        {{post.post_body|safe|truncatewords:200}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'blog_single' post.post_title %}">Read More</a>
                        </p>
                        
                    </div> 

                </article> <!-- end entry -->
                {% endfor %}
                
                <a href="{% url 'blog' %}"><button>See All Posts</button></a>
           </div> <!-- end main -->


           {% include "blog/sidebar.html" %} 

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->
   {% endblock content %}