{% extends "blog/base.html" %}

{% block content %}
    

    
<form style="justify-content: center;" action="" method="POST">
    {% csrf_token %}
    <div style="width: 30%; margin: 4em auto; line-height: 3em;" >
     <input name="username" style="width: 100%" type="text" placeholder="Username" class="text-search">
     <input name="password" style="width: 100%" type="password" placeholder="Password" class="text-search">

     {% if request.GET.next %}                
     <input type="hidden" name="next" value="{{request.GET.next}}"/>
     {% endif %}

    <input type="submit" style="float: right; margin-right: 2em;" value="Login">
    
    </div>
</form>

{% endblock content %}