{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
 
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">
                
                {% if posts %}
              
                {% for post in posts%}
                    
                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{{post.get_absolute_url}}" title="">{{post.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{post.post_date}}</li>
                                <li><a href="{% url 'postlist' post.category %}" title="" rel="category tag">{{post.category}}</a></li>
                                <li>{{post.author}}</li>
                            </ul>
                        </div>
                     
                    </header>
                    
                    <div class="entry__content">
                        <p>
                        {{post.post_body|safe|truncatewords:40}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                        
                    </div> 

                </article> <!-- end entry -->
                {% endfor %}

                {% else %}
                <p class="s-header__tagline" style="text-align: center;">There is no post with this title.</p>

                {% endif %}

           </div> <!-- end main -->


           {% include "blog/sidebar.html" %} <!-- end sidebar -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->
   {% endblock content %}