
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Blog Listing - Keep It Simple</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="static 'js/modernizr.js' %}"></script>
    <script defer src="static 'js/fontawesome/all.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="static 'favicon-16x16.png' %}">
    <link rel="manifest" href="site.webmanifest">

</head>
<body>
<div id="sidebar" class="s-content__sidebar large-4 column">

    <div class="widget widget--search">
       <h3 class="h6">Search</h3> 
       <form action="{% url 'process_search' %}">
          <input type="text" name="searchbox" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
          <input type="submit" value="" class="submit-search">
       </form>
    </div>

    <div class="widget widget--categories">
        <h3 class="h6">Categories.</h3> 
        <ul>
            
            {% for category in categories %}
             <li><a href="{% url 'postlist' category.category %}" title="">{{category.category}}</a> ({{category.categories.count}})</li>
             {% endfor %}
         </ul>
     </div>

     <div class="widget widget_text group">
         <h3 class="h6">Widget Text.</h3>

         <p>{%lorem 20 w%} </p>
     </div>

     <div class="widget widget_tags">
         <h3 class="h6">Post Tags.</h3>

         <div class="tagcloud group">
             
             {% for tag in tags|slice:"10" %}
             <a href="{% url 'tagposts' pk=tag.slug %}">{{tag.name}}</a>
             {% endfor %}
         </div>
     </div>

     {% if recommended %}
    
     <div class="widget widget_popular">
         <h3 class="h6">Recommended Post.</h3>

         <ul class="link-list">
            
              <li><a href="{{recommended.get_absolute_url}}">{{recommended.post_title}}</a></li>
            
         </ul>
     </div>
     {% endif %}
</div>
</body>