{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    

    
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="{% url 'blog_single' post.post_title %}" title="">{{post.post_title}}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{post.post_date.date}}</li>
                                <li><a href="{% url 'postlist' post.category %}" title="" rel="category tag">{{post.category}}</a></li>
                                <li>{{post.author}}</li>
                            </ul>
                        </div>
                     
                    </header> <!-- entry__header -->

                    <div class="entry__content-media">
                        <img src="{% static 'images/wheel-500.jpg' %}" 
                          srcset="{% static 'images/wheel-1000.jpg' %} 1000w, 
                                  {% static 'images/wheel-500.jpg' %} 500w" 
                             sizes="(max-width: 1000px) 100vw, 1000px" alt="">
                    </div>

                    <div class="entry__content">
                        <p class="lead" style="font-size: 1.6rem;">
                        {{post.post_body|linebreaksbr}}
                        </p>
                    </div> <!-- entry__content -->

                    <p class="entry__tags">
                        <span>Tagged in </span>:
                        
                        
                        {% for mt in mytags %}
                        <a href="{% url 'tagposts' mt.tag_name %}">{{mt}}</a> , 
                        {% endfor %}
                            
                    </p>

                    <ul class="entry__post-nav h-group">
                        
                    
                        {% if not post.get_previous_by_post_date.id == post.id %}
                        
                           
                        <li class="prev"><a rel="prev" href="{% url 'blog_single' pk=post.get_previous_by_post_date.post_title %}"><strong class="h6">Previous Article</strong>{{post.get_previous_by_post_date.post_title}}</a></li>
   
                        {% endif %}
                       
                        
                        {% if post.get_next_by_post_date %}
                    
                        <li class="next"><a rel="next" href= "{% url 'blog_single' pk=post.get_next_by_post_date.post_title %}"><strong class="h6">Next Article</strong> {{post.get_next_by_post_date.post_title}}</a></li>
                        
                        {% endif %}

                    </ul>

                </article> <!-- end entry -->

                <div class="comments-wrap">

                    <div id="comments">

                        <h3>{{totalcomments}} Comments</h3>
        
                        <!-- START commentlist -->
                        <ol class="commentlist">
                            
                            {% if comments.count > 0 %}
                            
                            {% for comment in comments %}
                                
                                
                            <li class="thread-alt depth-1 comment">
        
                             
                                <ul class="children">
        
                                    <li class="depth-2 comment">
        
                                        <div class="comment__avatar">
                                            <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="" width="50" height="50">
                                        </div>
        
                                        <div class="comment__content">
        
                                            <div class="comment__info">
                                                <div class="comment__author">{{comment.name}}</div>
        
                                                <div class="comment__meta">
                                                    <div class="comment__time">{{comment.date_added}}</div>
                                                    <div class="comment__reply">
                                                        <a class="comment-reply-link" href="#0">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="comment__text">
                                                <p>{{comment.comment}}</p>
                                            </div>
        
                                        </div>
                                        
                                        {% if comment.main_comment %}
                                            
                                            
                                            {% for reply in comment.main_comment.all %}
                                                
                                            <ul class="children">
        
                                                <li class="depth-3 comment">
            
                                                    <div class="comment__avatar">
                                                        <img class="avatar" src="{% static 'images/avatars/user-04.jpg' %}" alt="" width="50" height="50">
                                                    </div>
            
                                                    <div class="comment__content">
            
                                                        <div class="comment__info">
                                                            <div class="comment__author">{{reply.name}}</div>
            
                                                            <div class="comment__meta">
                                                                <div class="comment__time">{{reply.date_added}}</div>
                                                                <div class="comment__reply">
                                                                    <a class="comment-reply-link" href="#0">Reply</a>
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                        <div class="comment__text">
                                                        <p>{{reply.reply}}</p>
                                                        </div>
            
                                                    </div>
            
                                                </li>
            
                                            </ul>

                                            {% endfor %}
                                                

                                        {% endif %}
                                            
                                        
        
                                    </li>
        
                                </ul>
        
                            </li> 
     
                            {% endfor %}


                             {% else %}

                             <p class="s-header__tagline">Be the first to comment.</p>

                            {% endif %}
                            
                            <!-- end comment level 1 -->
        <!-- end comment level 1 -->        
        
                        </ol>
                        <!-- END commentlist -->

                    </div> <!-- end comments -->

                    <div class="comment-respond">

                        <!-- START respond -->
                        <div id="respond">
            
                            <h3>Add Comment <span>Your email address will not be published</span></h3>
            
                            <form name="contactForm" id="contactForm" method="post" action="{% url 'addcomment' post.post_title %}" autocomplete="off">
                                {% csrf_token %}
                                <fieldset>
            
                                    <div class="message form-field">
                                        <textarea name="cMessage" id="cMessage" class="h-full-width" placeholder="Your Message"></textarea>
                                    </div>
                                    
                                   
                                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Add Comment" type="submit">
            
                                </fieldset>
                            </form> <!-- end form -->
            
                        </div>
                        <!-- END respond-->
            
                    </div> <!-- end comment-respond -->
            
                </div> <!-- end comments-wrap -->

            </div> <!-- end main -->


            {% include "blog/sidebar.html" %} <!-- end sidebar -->

        </div> <!-- end row -->

    </div> <!-- end content-wrap -->
        
    {% endblock content %}
        